# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Practica_4/.vs/Practica_4/v16/Browse.VC.db
Practica_4/.vs/Practica_4/v16/ipch/AutoPCH/1c80dc1b27341b1d/ALGORITMOS.ipch
Practica_4/.vs/Practica_4/v16/ipch/AutoPCH/70b4b062aa4da4ac/PRACTICA_4.ipch
